.slot-container .slot-item {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.slot-container .slot-item > span {
  width: 180px;
  height: 175px;
  background: white;
  line-height: 175px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  bottom: 2px;
  margin: 0;
  display: inline-block;
}

#slot1, #slot2, #slot3 {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  font-size: 20px;
  margin-top: -25px;
  padding: 5px;
}

ul.slot-container {
  margin: 50px 0 30px 0;
  padding: 0;
  list-style: none;
  height: 200px;
  padding: 1px 0;
  background: #5198DF;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b9fb), color-stop(100%, #3782cd));
  background: -webkit-linear-gradient(#77b9fb, #3782cd);
  background: -moz-linear-gradient(#77b9fb, #3782cd);
  background: -o-linear-gradient(#77b9fb, #3782cd);
  background: -ms-linear-gradient(#77b9fb, #3782cd);
  background: linear-gradient(#77b9fb, #3782cd);
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  width: 600px;
}
ul.slot-container:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -4px;
  right: -5px;
  bottom: -6px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
}
ul.slot-container li {
  width: calc(33.3333333333333333% - 1px);
  float: left;
  border-right: 1px solid #3A7CBE;
  height: 200px;
}
ul.slot-container li.single {
  border: none;
}
ul.slot-container li + li {
  width: calc(33.3333333333333333% - 2px);
  border-left: 1px solid #8BBEF3;
}
ul.slot-container li + li + li {
  border-right: none;
  width: calc(33.3333333333333333% - 1px);
}
ul.slot-container span {
  color: #222;
  color: rgba(32, 32, 32, 0.8);
  text-align: center;
  font-weight: 400;
  text-shadow: rgba(200, 200, 200, 0.4) 1px 1px 0;
}

#generate-button {
  position: relative;
  left: calc(50% - 35px);
  width: 70px;
  margin: 30px 0;
  border: 1px solid transparent;
  font-size: 15px;
  border-radius: .25rem;
  background-color: white;
  border-color: rgba(50,50,50,0.3);
}

#log {
  padding: 5px;
}

@media screen and (max-width: 640px) {
  .slot-container .slot-item {
    height: 160px;
    line-height: 160px;
  }

  .slot-container .slot-item > span {
    width: calc(100% - 10px);
    height: 140px;
    line-height: 140px;
    bottom: 0;
  }

  #slot1, #slot2, #slot3 {
    line-height: 15px;
    font-size: 13px;
    margin-top: -8px;
  }

  ul.slot-container {
    width: 100%;
    height: 160px;
    margin: 20px 0 10px;
  }

  ul.slot-container li {
    height: 160px;
    line-height: 160px;
  }
  #generate-button {
    font-size: 12px;
  }
}

  
